<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <remove name="php FastCgi" />
            <add name="php8" path="*.php" verb="*" modules="FastCgiModule" scriptProcessor="D:\develop\php8\php-cgi.exe" resourceType="File" />
        </handlers>
        <defaultDocument>
            <files>
                <add value="Default.php" />
            </files>
        </defaultDocument>
    </system.webServer>
</configuration>
